.App {
  text-align: center;
}
.logo {
  display: flex;
  padding-left: 50px;
  padding-top: 20px;
}
.header {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.heading{
  font-weight: 300;
  margin-left: 5%;
  text-align: left;
}

.font{
  font-weight: 400;
}
.fontP{
  font-weight: 200;
}


